<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <title>Concerts Trip</title>
</head>
    <body style="height: auto">
        <div class="container">
            <div class="py-1 text-center">
                <h1 class="display-4">Suggested Concerts</h1>
            </div>
            <br>
            <form action="/concerts_filter" method="POST">
                <span style="font-size: 130%">Filter according to a keyword (e.g. songwriter): </span>
                <input type="text" name="keyWord">
                <button>Filter</button>
            </form>
            <br>
            <form action="/results" method="POST">
                <div style="overflow-y: scroll; height: 500px; text-align: center">
                    {{ concerts_table }}
                </div>
                <hr>
                <div class="col-md-11.5 text-center">
                    <input type="submit" class="btn btn-success btn-lg" id="submitButton" value="I'm Done" style="margin-right: 20px">
                </div>
                <br>
            </form>
            <div class="col-md-11.5 text-center">
                <button class="btn btn-outline-secondary" onclick="window.location.href='{{ url_for('index') }}'" style="margin-right: 20px">Start Over</button>
            </div>
            <br>
            <br>
        </div>
    </body>
</html>
