<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <link href="../static/jquery-flexdatalist-2.2.4/jquery.flexdatalist.min.css" rel="stylesheet" type="text/css" />
    <script src="../static/jquery-flexdatalist-2.2.4/jquery.flexdatalist.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="../static/jquery-modal/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="../static/jquery-modal/jquery.modal.min.css" />
    <title>Concerts Trip</title>
    <style>
        p span {
            background-color: ghostwhite;
        }
    </style>
</head>

<body style="background-image: url('../static/assets/bg-image.jpg'); height: 100%; background-position: center;
background-repeat: no-repeat;  background-size: cover; background-color: white">
    <div class="container">
        <div class="py-2 text-center">
        <h1 class="display-3">Concerts Trip</h1>
        <p class="lead">The best place for organizing your next musical trip</p>
        </div>
        <div class="row">
            <span style="font-size: 120%"><strong>Get recommendations for locations based on: </strong></span>
            <div id="ex1" class="modal" style="height: 500px; overflow-y: scroll;">
                <h3 style="text-align: center;">Africa</h3>
                {{ recommend_shows_africa }}
                <h3 style="text-align: center;">Asia</h3>
                {{ recommend_shows_asia }}
                <h3 style="text-align: center;">Europe</h3>
                {{ recommend_shows_europe }}
                <h3 style="text-align: center;">North America</h3>
                {{ recommend_shows_north_america }}
                <h3 style="text-align: center;">South America</h3>
                {{ recommend_shows_south_america }}
                <h3 style="text-align: center;">Oceania</h3>
                {{ recommend_shows_north_oceania }}
            </div>
            <div id="ex2" class="modal" style="height: 500px; overflow-y: scroll;">
                <h3 style="text-align: center;">Africa</h3>
                {{ recommend_artists_africa }}
                <h3 style="text-align: center;">Asia</h3>
                {{ recommend_artists_asia }}
                <h3 style="text-align: center;">Europe</h3>
                {{ recommend_artists_europe }}
                <h3 style="text-align: center;">North America</h3>
                {{ recommend_artists_north_america }}
                <h3 style="text-align: center;">South America</h3>
                {{ recommend_artists_south_america }}
                <h3 style="text-align: center;">Oceania</h3>
                {{ recommend_artists_north_oceania }}
            </div>
            <div id="ex3" class="modal" style="height: 500px; overflow-y: scroll;">
                <h3 style="text-align: center;">Best City for a Specific Genre</h3>
                {{ recommend_city_genre }}
            </div>
            <a id="recoBtn" type="button" class="btn btn-outline-primary" href="#ex1" rel="modal:open" style="margin-right: 20px; margin-left: 10px;"> Number of Shows</a>
            <a id="recoBtn" type="button" class="btn btn-outline-info" href="#ex2" rel="modal:open" style="margin-right: 20px"> Performing Artists' Followers</a>
            <a id="recoBtn" type="button" class="btn btn-outline-success" href="#ex3" rel="modal:open"> Genre</a>
        </div>
        <br>
        <form id="mainForm" method="POST" action="/concerts">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="dateRange"><span class="badge badge-secondary">1</span> Trip Dates</label>
                    <input type="text" class="form-control" id="dateRange" name="daterange">
                    <input type="checkbox" name="datesCheckbox" id="allDates"> I always want to travel<br>
                    <script>
                        $(function() {
                            $('input[name="daterange"]').daterangepicker({
                                opens: 'left',
                                locale:{
                                    format: 'DD/MM/YY',
                                },
                                minDate: '27/01/2020',
                                maxDat: '02/12/2023'
                            })
                        });
                        $('#dateRange').on('apply.daterangepicker', function(){
                            $.getJSON('/date_range_process',{
                                date_range: $('input[name="daterange"]').val(),
                            }, function(data){
                                $("#daterangeResult").text(data.result);
                            });
                        });
                        $('#allDates').change(function(){
                            $('#dateRange').prop("disabled", $(this).is(':checked'));
                            $('#genre').flexdatalist('disabled', false);
                        })
                    </script>
                    <p id="daterangeResult"><bold></bold></p>
                </div>
                <div class="col-md-6 mb-3" id="genre_div">
                    <label for="genre"><span class="badge badge-secondary">2</span> Genres (You can pick up to 3)</label>
                    <input type="text"
                           class="flexdatalist form-control"
                           data-min-length="0"
                           id="genre"
                           name="chosen_genres"
                           multiple="multiple"
                           list="genres"
                           data-search-in='["genre"]'
                           data-visible-properties='["genre"]'
                           data-selection-required='true'
                           data-text-property='{genre}'
                           data-value-property='*'
                           data-url="/get_genres">
                    <datalist id="genres">
                    </datalist>
                    <script>
                        let genre_picked = true;
                        let location_picked = false;
                        $('#genre').flexdatalist({
                            minLength: 0,
                            selectionRequired: true,
                            limitOfValues: 3,
                            disabled: true,
                            maxShownResults: 4,
                            textProperty:'{genre}',
                            valueProperty: 'genre',
                            visibleProperties: ["genre"],
                            searchIn: ["genre"],
                            url: '/get_genres',
                            cache: true,
                        })
                        .on('change:flexdatalist', function(){
                            $.ajax({
                                type: 'POST',
                                url: '/genres_process',
                                dataType: 'json',
                                contentType: 'application/json',
                                data: JSON.stringify($('input[name="chosen_genres"]').val())
                            });
                            genre_picked = ($('#genre').flexdatalist('value').length) > 0;
                        });
                        let chosen_dates = false;
                        $('#dateRange').on('apply.daterangepicker', function() {
                            if (chosen_dates){
                                $.getJSON('/check_new_dates', {
                                    date_range: $('input[name="daterange"]').val(),
                                }, function(data){
                                    if(data.result !== ""){
                                        alert(data.result);
                                    }
                                });
                            }
                            chosen_dates = true;
                            $('#genre').flexdatalist('disabled', false)
                        });
                        $('#allDates').change(function() {
                            if (!$(this).is(':checked') && !chosen_dates) {
                                $('#genre').flexdatalist('disabled', true);
                            } else {
                                $('#genre').flexdatalist('disabled', false);
                            }
                        });
                    </script>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6" id="locations-div">
                    <label for="location"> <span class="badge badge-secondary">3</span> Locations (You can pick up to 5)</label>
                    <input type='text'
                           class='flexdatalist form-control'
                           data-search-in='["city","country","continent"]'
                           data-visible-properties='["city","country","continent"]'
                           data-selection-required='true'
                           data-text-property='{city}, {country}'
                           data-value-property='*'
                           data-min-length='0'
                           data-url="/get_locations"
                           id='location'
                           name='chosen_locations'
                           multiple="multiple">
                    <script>
                        $('#location').flexdatalist({
                            selectionRequired: true,
                            limitOfValues: 5,
                            maxShownResults: 4,
                            textProperty:'{city}, {country}',
                            minLength: 0,
                            valueProperty: '*',
                            visibleProperties: ["city","country","continent"],
                            searchIn: ["city", "country", "continent"],
                            url: '/get_locations',
                            chainedRelatives: true,
                            cache: true,
                            relatives:'#genre, #dateRange'
                        })
                        .on('change:flexdatalist', function(){
                            $.ajax({
                                type: 'POST',
                                url: '/locations_process',
                                dataType: 'json',
                                contentType: 'application/json',
                                data: JSON.stringify($('input[name="chosen_locations"]').val())
                            });
                            location_picked = ($('#location').flexdatalist('value').length) > 0;
                            if (location_picked && genre_picked){
                                $('#submitButton').prop("disabled", false);
                            }
                            else{
                                $('#submitButton').prop("disabled", true);
                            }
                        });
                    </script>
                </div>
                <div class="col-md-6" id="div-artists">
                    <label for="mustSeeArtists"><span class="badge badge-secondary">4</span> Must See Artists (You can pick up to 3)</label>
                    <input type="text"
                           class="flexdatalist form-control"
                           data-min-length="0"
                           id="mustSeeArtists"
                           name="chosen_artists"
                           multiple="multiple"
                           list="mustSeeArtistsId"
                           data-search-in='["artist"]'
                           data-visible-properties='["artist"]'
                           data-selection-required='true'
                           data-text-property='{artist}'
                           data-value-property='*'
                           data-url="/get_artists">
                    <datalist id="mustSeeArtistsId">
                    </datalist>
                    <script>
                        $('#mustSeeArtists').flexdatalist({
                            minLength: 0,
                            maxShownResults: 4,
                            limitOfValues: 3,
                            chainedRelatives: true,
                            relatives:'#location',
                            cache: true,
                            selectionRequired: true,
                            disabled: true,
                            textProperty:'{artist}',
                            valueProperty: '*',
                            visibleProperties: ["artist"],
                            searchIn: ["artist"],
                            url: '/get_artists',
                        })
                        .on('change:flexdatalist', function(){
                            $.ajax({
                                type: 'POST',
                                url: '/artists_process',
                                dataType: 'json',
                                contentType: 'application/json',
                                data: JSON.stringify($('input[name="chosen_artists"]').val())
                            });
                        });
                    </script>
                    <input type="checkbox" name="warmUp"> Include warm-up shows
                </div>
            </div>
            <hr>
            <div class="col-md-11.5 text-center">
                <input type="submit" class="btn btn-secondary btn-lg" id="submitButton" value="Submit" disabled="disabled">
                <p><span><strong>  Please select a genre and location to proceed  </strong></span></p>
            </div>
        </form>
    </div>
</body>
</html>
